body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.backgroundimg {
  background-image: url('img/abstract-wave.jpg');
  background-size: cover;
  background-position: center center;
  margin-right: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}


